


#game_config_gameinfo_app
{
	display: flex;
	flex-direction: column;
	width: 100%;
}


#gameinfo_ctrl
{
	width: 80%;
	display: flex;
	background: rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.35);
	flex-direction: column;
	padding-right: 15px;
	margin-left: 20px;
}


.gameinfo_prmrow
{
	display: flex;
	/*width: 100%;*/
	flex-direction: row;
	margin: 5px 0px 5px 15px;
	/*padding-left: 15px;*/
	color: white;
	font-family: 'Roboto';
	align-items: center;
}


.gameinfo_prmrow_textfield input
{

	height: 24px;
	width: 93%;
	padding-left: 10px;
}

.gameinfo_prmrow_textfield_short input
{

	width: 90px;
	padding-left: 10px;
}

.gaminfo_prmrow_input_wrapper
{
	display: flex;
	flex-grow: 1;
}

.gameinfo_prmrow_textfield_short .gaminfo_prmrow_input_wrapper
{
	flex-grow: 0;
}

#gameinfo_mod_minititle
{
	color: #D7D7D7;
	font-size: 18px;
	font-weight: 200;
	user-select: none;
}

#gameinfo_mod_modfolderpath
{
	margin-bottom: 15px;
	font-size: 15px;
	font-weight: 100;
	color: #A1A1A1;
	user-select: none;
}

.gameinfo_text_input_field_label
{
	display: flex;
	align-items: center;
	margin-right: 15px;
	width: 100px;
	user-select: none;
}


#gameinfo_icon_preview
{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 20px;
	user-select: none;
}

#gameinfo_icon_preview img
{
	user-select: none;
	align-self: flex-end;
	/*object-position: center;*/
	/*object-fit: contain;*/
}

#gameinfo_icon_preview div
{
	height: 100%;
	display: flex;
	margin-left: 10px;
}

#gameinfo_icon_preview_big
{
	width: 100px;
	height: 100px;
}

#gameinfo_icon_preview_desktop
{
	width: 45px;
	height: 45px;
}

#gameinfo_icon_preview_steam
{
	width: 20px;
	height: 20px;
}


.gameinfo_prmrow_cbox_mark
{
	width: 17px;
	height: 17px;
	margin-left: 5px;
}

.gameinfo_prmrow_cbox
{
	display: flex;
    flex-direction: row;
    flex-grow: 0;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.1);
    padding: 6px;
    border-radius: 5px;
    /*width: fit-content;*/
    user-select: none;
}

.gameinfo_prmrow_cbox_title
{
	font-family: 'Roboto';
	font-weight: 200;
}


#gminfo_appid_dropdown, #gminfo_gametype_dropdown
{
	display: flex;
	width: 250px;
	margin-left: 10px;
	height: 25px;
	
}












/*
====================================================
					Content Mount
====================================================
*/
#gameinfo_content_mount
{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
}


#gameinfo_content_mount_pool
{
	display: flex;
	flex-direction: column;
}

.cmount_pool_entry
{
	position: relative;
	margin-top: 5px;
	display: flex;
	align-items: center;
	flex-direction: row;
	color: white;
	font-family: 'blender';
	font-size: 15px;
	background: rgba(0, 0, 0, 0.2);
	/*padding: 5px 0px 5px 0px;*/
	/*outline: 1px solid rgba(255, 255, 255, 0.1);*/
}


.cmount_pool_entry input
{
	font-family: 'Open_Sans';
	/*font-size: 13px;*/
	margin-left: 10px;
	height: 50%;
}

.cmount_pool_entry lzdropdown
{
	height: 50%;
}

.cmount_pool_entry lzcbox [cmark_outer]
{
	width: 19px;
	height: 19px;
	border-radius: 2px;
}

.cmount_pool_entry lzcbox
{
	/*padding-left: 5px;*/
	padding: 5px 2.5px 5px 2.5px;
}


.cmount_pool_entry keys
{
	display: flex;
	flex-direction: row;
}

.cmount_pool_entry basepath
{
	display: flex;
}

.cmount_pool_entry lzdropdown
{
	width: 100px;
	margin-left: 10px;
}





#mountpool_keys_descr
{
	user-select: none;
	display: flex;
	flex-direction: column;
	color: white;
	writing-mode: tb-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
}

#mountpool_keys_descr keydescr
{
	font-family: 'blender';
	font-size: 13px;
	width: 19px;
	margin-right: 5px;
}


#mountpool_keys_descr .keydescr_hlight
{
	color: #86E293;
}

#gameinfo_content_mount lzbtn
{
	width: 100px;
	margin-top: 25px;
}

.mount_ctrl_btns
{
	display: flex;
	flex-direction: row;
	width: 100px;
	height: 100%;
}

.mount_ctrl_btns div
{
	display: flex;
	/*height: 100%;*/
	width: 20px;
	aspect-ratio: 1/1;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 10px;
	
}

.mount_ctrl_btns [mv_up]{
	filter: brightness(0.5);
	background-image: url(../../assets/move_arrows.png);
	transform: rotate(180deg);
}




/* 
	-------------------------
	      moving shit
	-------------------------
*/

.cmount_pool_entry mvtop, .cmount_pool_entry mvbot
{
	visibility: hidden;
	width: 100%;
	height: 50%;
	position: absolute;
	z-index: 75535;
}
.cmount_pool_entry mvtop
{
	top: 0px;
	align-self: flex-start;
	background: none;
}
.cmount_pool_entry mvbot
{
	align-self: flex-end;
	bottom: 0px;
	background: none;
}


/*visualize drop destination*/
.cmount_pool_entry[vis_mv_top]
{
	border-top: 3px solid #5AE47E;
}

.cmount_pool_entry[vis_mv_bottom]
{
	border-bottom: 3px solid #5AE47E;
}




#gameinfo_content_mount_pool_items [invis_placeholder]
{
	display: flex;
	opacity: 0;
	background: none;
}

/*show hitboxes*/
#gameinfo_content_mount_pool_items[moving] [moverhit]
{
	visibility: visible;
}

/*make stuff unselectable*/
#gameinfo_content_mount_pool_items[moving] *:not([moverhit], #gameinfo_content_mount_pool_items > .cmount_pool_entry)
{
	user-select: none !important;
	pointer-events: none !important;
}

#gameinfo_content_mount_pool_items[moving] [move_tgt]
{
	position: fixed;
	z-index: 85536;
	background: black;
	outline: 2px solid #417790;
	pointer-events: none !important;
}

#gameinfo_content_mount_pool_items[moving] [move_tgt] [moverhit]
{
	visibility: hidden !important;
}


