
lzcbox *
{
	user-select: none;
}

lzcbox
{
	display: flex;
    flex-direction: row;
    flex-grow: 0;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.1);
    padding: 6px;
    border-radius: 5px;
    /* width: fit-content; */
    user-select: none;
}

lzcbox [cbtitle]
{

}

lzcbox [cmark_outer]
{
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgb(80, 80, 80);
	border-radius: 15%;
	outline: 1px solid rgb(45, 45, 45);
	/*outline: 1px solid rgb(30, 30, 30);*/
}

lzcbox [cmark_inner]
{
	display: flex;
	width: 75%;
	height: 75%;
	/*background: blue;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

lzcbox[lzcbox_state='set'] [cmark_inner]
{
	background-image: url('../../assets/checkmark.svg');
}

lzcbox[lzcbox_state='unset'] [cmark_inner]
{
	background-image: none;
}

lzcbox[lzcbox_state='set'] [cmark_outer]
{
	background-color: rgb(56, 78, 96);
}

lzcbox[lzcbox_state='unset'] [cmark_outer]
{
	background-color: rgb(56, 78, 96);
}

lzcbox[lzcbox_state='unset']:hover [cmark_outer], .lzcbox_hitbox:hover [lzcbox_state='unset'] [cmark_outer]
{
	background-color: rgb(110, 110, 110);
}







