/*Open_Sans*/
@import url('fonts/Open_Sans/Open_Sans_family.css');
/*Roboto*/
@import url('fonts/Roboto/Roboto_family.css');
/*Roboto_Slab*/
@import url('fonts/Roboto_Slab/Roboto_Slab_family.css');

/*blender*/
@font-face
{
    font-family: 'blender';
    font-weight: 200;
    src: url('fonts/droidsans.ttf');
}


*
{
	padding: 0px;
	margin: 0px;
}

html
{
/*	width: 100%;
	height: 100%;*/
}

body
{
	background-color: rgba(1, 1, 2, 0.87);

	/*background-color: #232022;*/
	background-image: url('assets/bg_01b_tr.png');
	background-size: 200px;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	height: 100%;
}

h1
{
	color: white;
}

#modules_cont
{
	display: flex;
	margin-top: 50px;
	margin-bottom: 100px;
}







/*
========================================================================
------------------------------------------------------------------------
                                App
------------------------------------------------------------------------
========================================================================
*/



/*
 -----------------------
	     Toolbar
 -----------------------
*/


#app_top_toolbar
{
	display: flex;
	position: fixed;
	width: 100%;
	flex-direction: row;
	color: white;
	background: rgb(25, 25, 25);
	z-index: 65535;
}

.app_top_toolbar_category
{
	display: flex;
	flex-direction: row;
	height: 100%;
	font-family: 'Open_Sans';
	font-weight: 100;
	user-select: none;
}

.app_top_toolbar_category_entry
{
	display: flex;
	align-items: center;
	height: 30px;
	/*background: black;*/
	padding: 0px 10px 0px 10px;
}

.app_top_toolbar_category_entry:hover
{
	background: rgb(50, 50, 50);
}

/*
.app_top_toolbar_category_entry:active
{
	background: rgb(30, 30, 30);
}
*/
































/*important todo: Split all these modules into separate css files*/


/*
========================================================================
------------------------------------------------------------------------
                                Menus
------------------------------------------------------------------------
========================================================================
*/


@-webkit-keyframes sat_roll {
  0% 
  {
    transform: translateY(-40px);
    opacity: 0;
  }
  
  100% 
  {
    transform: translateY(0);
    opacity: 1;
  }
}


.tg_head_logo_dropdown.open .dropdown-menu
{
  animation: sat-roll 0.25s;
  animation-timing-function: ease-out/*cubic-bezier(.22,.46,.28,1)*/;
}

.lizard_menu
{
	display: flex;
	flex-grow: 1;
	height: 100%;
	/*important todo: column ? row ? */
	/*flex-direction: column;*/
}

.lizmenu_title
{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.lizard_menu_entries, .lizard_dropdown_entries
{
	display: flex;
	flex-direction: column;
	position: absolute;
	max-width: 400px;
	min-width: 150px;
	background: rgb(25, 25, 25);
	color: white;
	/*margin-left: -5px;*/
	align-self: flex-start;
	transition-duration: .0s;
	/*transform: translateY(-10px);*/
	border: 1px solid rgb(60, 60, 60);
	padding: 1px;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
	margin-top: 32px;
	visibility: hidden;
	opacity: 0;
}

.lizard_menu:hover .lizard_menu_entries, [haslizmenu]:hover .lizard_menu_entries
{
	visibility: visible;
	transition-duration: .2s;
	/*transform: translateY(0px);*/
	display: flex;
	opacity: 1;
}

.lizard_dropdown_arrow_icon
{
	display: flex;
	flex-direction: row;
	height: 100%;
	/*width: 100%;*/
	flex-grow: 1;
	justify-content: flex-end;
}

.lizard_dropdown_arrow_icon img
{
	height: 100%;
	width: 12px;
	object-fit: contain;
	object-position: center;
	margin-right: 5px;
	opacity: 0.9;
	user-select: none;
}


.lizard_menu_entry
{
	display: flex;
	align-items: center;
	height: 25px;
	/*background: gray;*/
	user-select: none;
}

.lizard_menu_entry:hover
{
	background: rgb(40, 40, 40);
}

.lizard_menu_entry:active
{
	background: rgb(34, 95, 157);
}


.lizard_menu_entry_icon
{
	width: 25px;
	height: 100%;
	/*background: rgba(255, 255, 255, 0.1);*/
	display: flex;
	align-items: center;
	justify-content: center;
}


.lizard_menu_entry_icon img
{
	width: 55%;
	height: 55%;
	/*object-fit: contain;*/
	object-position: center;
}


.lizard_menu_entry_text
{
	padding: 0px 6px 0px 5px;
	font-size: 15px;
}

.lizard_menu_separator
{
	width: 80%;
	align-self: center;
	height: 1px;
	border-top: 1px dashed rgb(70, 70, 70);
	margin: 1px 0px 0px 0px;
	/*background: rgb(60, 60, 60);*/
}

.lizdropdown_active
{
	background: #3a5986 !important;
	border-color: #4772b3 !important;
	outline-color: #4772b3 !important;
}

.lizdropdown_entries_shown
{
	opacity: 1 !important;
	visibility: visible !important;
}
















/*
========================================================================
------------------------------------------------------------------------
                                Checkboxes
------------------------------------------------------------------------
========================================================================
*/

.lizcbox_container
{
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgb(80, 80, 80);
	border-radius: 15%;
	outline: 1px solid rgb(45, 45, 45);
	/*outline: 1px solid rgb(30, 30, 30);*/
}

[lizcbox="set"].lizcbox_container
{
	background-color: rgb(56, 78, 96);
}

[lizcbox="unset"].lizcbox_container:hover, .lizcbox_hitbox:hover [lizcbox="unset"].lizcbox_container
{
	background-color: rgb(110, 110, 110);
}

.lizcbox_container .lizcbox_mark
{
	display: flex;
	width: 75%;
	height: 75%;
	/*background: blue;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}


[lizcbox="set"] .lizcbox_mark
{
	background-image: url('assets/checkmark.svg');
}


[lizcbox="unset"] .lizcbox_mark
{
	background-image: none;
}












/*
========================================================================
------------------------------------------------------------------------
                                UILists
------------------------------------------------------------------------
========================================================================
*/

.simple_uilist_suggest
{
	position: absolute;
	display: flex;
	flex-direction: column;
	/*width: 200px;*/
	/*height: 200px;*/
	background: black;
	/*overflow-y: scroll;*/
	max-width: 500px;
}

.simple_uilist_suggestion_entry
{
	/*display: flex;*/
	display: block;
	padding: 3px;
	padding-left: 6px;
	font-size: 15px;
	/*width: 500px;*/
	user-select: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.simple_uilist_suggestion_entry_active
{
	background: red;
}








































/*
========================================================================
------------------------------------------------------------------------
                             Regular buttons
------------------------------------------------------------------------
========================================================================
*/


.app_regular_btn_01, .app_regular_btn_02
{
	background: rgb(35, 35, 35);
	outline: inherit solid rgb(90, 90, 90);
	user-select: none;
	/*border-radius: 10px;*/
}

.app_regular_btn_01:hover, .app_regular_btn_02:hover
{
	background: rgb(50, 50, 50) !important;
}

.app_regular_btn_01:active
{
	/*background: rgb(34, 95, 157);*/
	background: #3a5986 !important;
	border-color: #4772b3 !important;
	outline-color: #4772b3 !important;
}

.app_regular_btn_02:active
{
	background: #662C2C;
	border-color: #F6496A;
	outline-color: #F6496A;
}

/*todo: a better way of blocking the button*/
.app_regular_btn_blocked
{
	pointer-events: none !important;
	user-select: none !important;
	color: #AE3731 !important;
}











/*
========================================================================
------------------------------------------------------------------------
                             Tooltips
------------------------------------------------------------------------
========================================================================
*/

liztooltip
{
	display: none;
}

[lizards_tooltip_box]
{
	position: fixed;
	display: flex;
	flex-direction: column;
	font-family: 'blender';
	font-size: 14px;
	z-index: 655355;
	max-width: 400px;
	background: rgb(30, 30, 30);
	padding: 10px;
	border: 1px solid rgb(100, 100, 100);
	color: white;
	user-select: none;
	pointer-events: none;
}
























/*
========================================================================
------------------------------------------------------------------------
                                Skyboxer
------------------------------------------------------------------------
========================================================================
*/

#skyboxer_app
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	/*height: 100%;*/
	/*background: rgba(255, 255, 255, 0.5);*/
	justify-content: center;
	padding-left: 100px;
}





#skyboxer_squares
{
	display: flex;
	/*width: 100%;*/
	flex-direction: row;
	/*justify-content: center;*/
}


#skyboxer_squares *
{
	user-select: none;
}


#skyboxer_squares_inner
{
	display: flex;
    flex-direction: column;
}

.skybox_square
{
	width: 200px;
	height: 200px;
	background: url('assets/sq_tmp.png');
	background-size: contain;
	object-fit: contain;
	object-position: bottom;
	transform: scaleY(-1);
	user-select: none;
}

#skybox_sq_row_1, #skybox_sq_row_3
{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

#skybox_sq_row_2
{
	display: flex;
	flex-direction: row;
}

.skybox_side_container
{
	display: flex;
	/*flex-direction: row-reverse;*/
}

#sky_front, #sky_left, #sky_back
{
	flex-direction: column;
}

#sky_up, #sky_right, #sky_down
{
	flex-direction: row-reverse;
}



/*
 -----------------------
 	Vertical info box
 -----------------------
*/
.sky_side_info_box_v
{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 65px;
	/*background: gray;*/
    margin-right: -70px;
    user-select: none;
}

.sky_side_info_box_v .sky_info_icon
{
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
}

.sky_side_info_box_v .icon_indicator_circle
{
	display: flex;
	width: 15px;
	height: 15px;
	background: red;
	border-radius: 999px;
	margin-left: 5px;
}

.sky_side_info_box_v .sky_info_icon:nth-child(n + 2)
{
	margin-top: 5px;
}




/*
 -----------------------
   Horizontal info box
 -----------------------
*/
.sky_side_info_box_h
{
	display: flex;
	flex-direction: row;
	position: absolute;
	height: 65px;
	/*background: gray;*/
    margin-top: -70px;
}

.sky_side_info_box_h .sky_info_icon
{
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	align-items: center;
}

.sky_side_info_box_h .icon_indicator_circle
{
	display: flex;
	width: 15px;
	height: 15px;
	background: red;
	border-radius: 999px;
	margin-bottom: 5px;
}

.sky_side_info_box_h .sky_info_icon:nth-child(n + 2)
{
	margin-left: 5px;
}







.sky_info_icon img
{
	display: flex;
	flex-direction: row;
	width: 30px;
	height: 30px;
	object-fit: contain;
	object-position: center;
}




#sky_name
{
	font-family: 'Roboto';
	font-weight: 400;
	color: white;
	font-size: 50px;
}

#sky_compile_status
{
	font-family: 'Roboto';
	font-weight: 200;
	color: rgb(200, 200, 200);
	font-size: 20px;
}
































/*
========================================================================
------------------------------------------------------------------------
                                Mod Maker
------------------------------------------------------------------------
========================================================================
*/

/*
 -----------------------
   Engine Selector
 -----------------------
*/

#newmod_maker_app
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	justify-content: center;
	/*padding-left: 100px;*/
	padding-left: 90px;
	overflow: hidden;
	margin-bottom: 100px;
	padding-bottom: 10px;
}









/*
 -----------------------
   Simple pool styles
 -----------------------
*/

.simple_list_v1_pool
{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	/*padding: 5px 10px 5px 5px;*/
	padding: 5px;
	border: 1px solid rgb(60, 60, 60);
	background: rgba(0, 0, 0, 0.1);
	min-height: 50px;
}

.simple_list_v1_pool *
{
	user-select: none;
}

.simple_list_v1_pool_item
{
	display: -webkit-box;
	/*flex-direction: row;*/
	height: 30px;
	background: rgba(0, 0, 0, 0.1);
	padding: 1px;
	overflow: hidden;
}

.simple_list_v1_pool_item:hover
{
	background: rgba(255, 255, 255, 0.1);

}

.simple_list_v1_pool_item:active
{
	/*background: rgb(34, 95, 157);*/
}

.simple_list_v1_pool_item_const_active
{
	background: rgb(34, 95, 157) !important;
}

.simple_list_v1_pool_item_icon
{
	display: flex;
	height: 100%;
	width: 30px;
	min-width: 30px;
	align-items: center;
	justify-content: center;
}

.simple_list_v1_pool_item_icon img
{
	width: 80%;
	height: 80%;
	object-fit: contain;
	object-position: center;
}

.simple_list_v1_pool_item_name, .simple_list_v1_pool_item_descr
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-family: 'Open_Sans';
	font-weight: 100;
	font-size: 15px;
	color: white;
	user-select: none;
}

.simple_list_v1_pool_item_name
{
	font-weight: 200;
	white-space: nowrap;
	min-width: 270px;
	padding-left: 2px;
}

.simple_list_v1_pool_item_descr
{
	color: rgba(255, 255, 255, 0.9);
	padding: 0px 0px 0px 10px;
	overflow: hidden;
	/*white-space: nowrap;*/
}

.simple_list_v1_pool_item_descr_icon
{
	height: 100%;
	width: 40px;
	object-fit: contain;
	object-position: center;
	margin-left: 10px;
}

.simple_list_v1_pool_add_newitem
{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	/*height: 20px;*/
}

.simple_list_v1_pool_add_newitem *
{
	user-select: none;
}

.simple_list_v1_pool_add_newitem:hover
{
	background: rgba(255, 255, 255, 0.1);

}

.simple_list_v1_pool_add_newitem:active
{
	background: rgb(34, 157, 94);
}


.simple_list_v1_pool_add_newitem_icon
{
	display: flex;
	align-items: center;
	justify-content: center;
	/*width: 20px;*/
}

.simple_list_v1_pool_add_newitem_icon img
{
	width: 80%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}


.simple_list_v1_pool_add_newitem_text
{
	font-family: 'Roboto';
	font-weight: 200;
	color: white;
	font-size: 15px;
	padding: 4px 0px 4px 5px;
	user-select: none;
}

/*
 -----------------------
   Simple pool styles
 -----------------------
*/














#modmaker_engine_selector
{
	display: flex;
	flex-direction: column;
	padding-right: 20px;
}

#modmaker_engine_selector_title
{
	font-family: 'Roboto';
	font-weight: 400;
	color: white;
	font-size: 40px;
	user-select: none;
}

#new_engine_save_config, #new_engine_del_config
{
	display: flex;
	color: white;
	font-family: 'Open_Sans';
	font-weight: 200;
	font-size: 15px;
	width: 100px;
	margin-top: 15px;
	padding: 10px 5px 10px 5px;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
	margin-top: 20px;
}

#new_engine_del_config
{
	align-self: flex-end;
	color: #F46363;
}





/*-------------------------------------------------------*/

#modmaker_engine_selector_pool-
{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	/*padding: 5px 10px 5px 5px;*/
	padding: 5px;
	border: 1px solid rgb(60, 60, 60);
	background: rgba(0, 0, 0, 0.1);
}

#modmaker_engine_selector_pool- *
{
	user-select: none;
}

.modmaker_engine_item-
{
	display: -webkit-box;
	/*flex-direction: row;*/
	height: 30px;
	background: rgba(0, 0, 0, 0.1);
	padding: 1px;
	overflow: hidden;
}

.modmaker_engine_item-:hover
{
	background: rgba(255, 255, 255, 0.1);

}

.modmaker_engine_item-:active
{
	background: rgb(34, 95, 157);
}

.modmaker_engine_item_icon-
{
	display: flex;
	height: 100%;
	width: 30px;
	min-width: 30px;
	align-items: center;
	justify-content: center;
}

.modmaker_engine_item_icon- img
{
	width: 80%;
	height: 80%;
	object-fit: contain;
	object-position: center;
}




.modmaker_engine_item_name-, .modmaker_engine_item_path-
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-family: 'Open_Sans';
	font-weight: 100;
	font-size: 15px;
	color: white;
	user-select: none;
}

.modmaker_engine_item_name-
{
	font-weight: 200;
	white-space: nowrap;
	min-width: 250px;
	padding-left: 2px;
}

.modmaker_engine_item_path-
{
	color: rgba(255, 255, 255, 0.9);
	padding: 0px 0px 0px 10px;
	overflow: hidden;
	/*white-space: nowrap;*/
}




#modmaker_add_engine-
{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	/*height: 20px;*/
}

#modmaker_add_engine-
{
	user-select: none;
}

#modmaker_add_engine-:hover
{
	background: rgba(255, 255, 255, 0.1);

}

#modmaker_add_engine-:active
{
	background: rgb(34, 157, 94);
}



#modmaker_add_engine_icon-
{
	display: flex;
	align-items: center;
	justify-content: center;
	/*width: 20px;*/
}

#modmaker_add_engine_icon- img
{
	width: 80%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}


#modmaker_add_engine_text-
{
	font-family: 'Roboto';
	font-weight: 200;
	color: white;
	font-size: 15px;
	padding: 4px 0px 4px 5px;
	user-select: none;
}
/*-------------------------------------------------------*/






/*
 -----------------------
     Engine Details
 -----------------------
*/

#modmaker_engine_details
{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
    padding-right: 20px;
    /*margin-left: 20px;*/
}


#modmaker_engine_details_title
{
	font-family: 'Roboto';
	font-weight: 400;
	color: white;
	font-size: 27px;
	user-select: none;
}


#modmaker_engine_details_items
{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding: 5px;
	border: 1px solid rgb(60, 60, 60);
	background: rgba(0, 0, 0, 0.1);
}


.modmaker_engine_details_item
{
	display: flex;
	flex-direction: row;
	height: 30px;
}

.modmaker_engine_details_item_status
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
}

.modmaker_engine_details_item_status img
{
	width: 80%;
	height: 80%;
	object-fit: contain;
	object-position: center;
	user-select: none;
}


.modmaker_engine_details_item_list
{
	display: flex;
	flex-direction: column;
	/*height: 30px;*/
}


.modmaker_engine_details_item:not(:first-child)
{
	margin-top: 6px;
}


.modmaker_engine_details_item_title
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-family: 'Open_Sans';
	font-weight: 200;
	font-size: 15px;
	color: white;
	user-select: none;
	min-width: 100px;
}

.modmaker_engine_details_item_input
{
	all: unset;
	display: flex;
	flex-grow: 1;
	color: white;
	justify-content: center;
	font-family: 'Open_Sans';
	font-weight: 100;
	font-size: 15px;
	user-select: none;
	margin-left: 10px;
	min-width: 50px;

	padding: 2px 2px 2px 5px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}



/*
 -----------------------
  Engine Details Lists
 -----------------------
*/


.modmaker_engine_details_list
{
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}

.modmaker_engine_details_list_title
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 30px;
	font-family: 'Open_Sans';
	font-weight: 200;
	font-size: 15px;
	color: white;
	user-select: none;
	/*min-width: 100px;*/
}

.modmaker_engine_details_list_items
{
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}


.modmaker_engine_details_list_item
{
	display: flex;
	flex-direction: row;
}

.modmaker_engine_details_list_item_text
{
	min-width: 150px;
	font-family: 'blender';
	font-weight: 100;
	color: rgb(220, 220, 220);
	font-size: 14px;
	padding: 1px;
}

.modmaker_engine_details_list_item_status
{
/*	height: 100%;
	width: 20px;*/
	display: flex;
}

.modmaker_engine_details_list_item_status img
{
	width: 17px;
	height: auto;
	object-fit: contain;
	object-position: center;
	user-select: none;
}












/*
 -----------------------
  	Client Selector
 -----------------------
*/


#modmaker_client_selector
{
	margin-top: 20px;
	padding-right: 20px
}


#modmaker_client_selector_title
{
	font-family: 'Roboto';
	font-weight: 400;
	color: white;
	font-size: 40px;
	user-select: none;
}

#modmaker_client_selector_details
{
	display: flex;
	flex-direction: column;
}




#modmaker_client_selector_details
{
	display: flex;
	flex-direction: column;
}

#modmaker_client_selector_installed
{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

#modmaker_client_selector_installed_title
{
	font-family: 'Roboto';
	font-weight: 400;
	color: white;
	font-size: 27px;
	user-select: none;
}


#modmaker_new_client_game_name, #modmaker_new_client_cl_name
{
	display: flex;
	flex-direction: row;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#modmaker_new_client_game_name input, #modmaker_new_client_cl_name input
{
	all: unset;
	display: flex;
	flex-grow: 1;
	color: white;
	justify-content: center;
	font-family: 'Open_Sans';
	font-weight: 100;
	font-size: 15px;
	user-select: none;
	margin-left: 10px;
	min-width: 50px;

	padding: 2px 2px 2px 5px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

#modmaker_new_client_game_name_text, #modmaker_new_client_cl_name_text
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-family: 'Open_Sans';
	font-weight: 200;
	font-size: 15px;
	color: white;
	user-select: none;
	min-width: 100px;
}

.modmaker_mknew_client_btn
{
	display: flex;
	color: white;
	font-family: 'Open_Sans';
	font-weight: 200;
	font-size: 15px;
	width: 300px;
	margin: 5px 20px 5px 0px;
	padding: 10px 5px 10px 5px;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
}

.modmaker_client_selector_installed_item_isbase
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.modmaker_client_selector_installed_item_isbase_text
{
	color: white;
}

.modmaker_client_selector_installed_item_cbox
{
	display: flex;
	width: 20px;
	height: 20px;
}

.modmaker_mknew_client_btn_columns
{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}


.modmaker_mknew_client_btn_column
{
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
}

.modmaker_mknew_client_btn_cbox_cont
{
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	margin-top: 10px;
	background: rgba(0, 0, 0, 0.1);
	padding: 5px;
	border-radius: 5px;
	width: fit-content;
}

#modmaker_spawn_client_dll_dropdown, #modmaker_spawn_client_mpsp2013dlls
{
	display: flex;
	width: 80%;
	margin-top: 15px;
	height: 25px;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	outline: 1px solid rgba(255, 255, 255, 0.1);

	font-family: 'Open_Sans';
	font-weight: 100;
}

#modmaker_spawn_client_dll_dropdown .lizard_dropdown_bottom_title, #modmaker_spawn_client_mpsp2013dlls .lizard_dropdown_bottom_title
{
	color: rgba(255, 255, 255, 0.5)
}

#modmaker_spawn_client_dll_dropdown .lizmenu_title, #modmaker_spawn_client_mpsp2013dlls .lizmenu_title
{
	color: white;
	font-family: 'Open_Sans';
	font-weight: 200;
	font-size: 15px;
	align-self: flex-start;
	/*justify-content: center;*/
	user-select: none;
	padding-left: 10px;
}


#modmaker_spawn_client_dll_dropdown:hover, #modmaker_spawn_client_mpsp2013dlls:hover
{
	background: rgba(0, 0, 0, 0.1);
}

.modmaker_mknew_client_btn_cbox_text
{
	display: flex;
	color: white;
	font-family: 'Open_Sans';
	font-weight: 200;
	font-size: 15px;
	align-items: center;
	justify-content: center;
	user-select: none;
}


.modmaker_mknew_client_btn_cbox
{
	width: 20px;
	height: 20px;
	margin-left: 5px;
}



























































/*Dashboard*/

#main_dashboard_app
{
	display: flex;
	flex-direction: row;
	width: 100%;
}


#main_dashboard_left
{
	display: flex;
	flex-direction: column;
	width: 49%;
}

#main_dashboard_left_title, #main_dashboard_right_title
{
	display: flex;
	font-family: 'Roboto';
	font-weight: 500;
	color: white;
	font-size: 35px;
	/*dont pretend that you dont know the margin*/
	padding-left: 15px;
	user-select: none;
}

#main_dashboard_left_utils
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.main_dashboard_util
{
	margin: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;
	width: 150px;
	height: 150px;
	border: 1px solid rgba(241, 246, 252, 0.37);
	background: rgba(255, 255, 255, 0.03);
	user-select: none;
}

.main_dashboard_util:hover
{
	background: rgba(255, 255, 255, 0.07);
}

.main_dashboard_util:active
{
	background: rgb(34, 95, 157);
}

.main_dashboard_util *
{
	user-select: none;
}

.main_dashboard_util_icon
{
	height: 50%;
	display: flex;
	padding: 15px;
}

.main_dashboard_util_icon img
{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.main_dashboard_util_title
{
	display: flex;
	align-self: flex-end;
	padding: 6px 0px 6px 0px;
	color: white;
	font-family: 'Roboto';
	font-weight: 200;
	background: rgba(0, 0, 0, 0.15);
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 30px;

}




#main_dashboard_right
{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-right: 20px;
	position: fixed;
	right: 0px;
}

#main_dashboard_right_ctrl
{
	background: rgba(0, 0, 0, 0.03);
	border: 1px solid rgba(255, 255, 255, 0.35);
	flex-direction: column;
}

.dboard_mod_prmrow
{
	display: flex;
	width: 100%;
	flex-direction: row;
	margin: 5px 0px 5px 15px;
	color: white;
	font-family: 'Roboto';
}

#dboard_mod_minititle
{
	color: #D7D7D7;
	font-size: 18px;
	font-weight: 200;
	user-select: none;
}


#dboard_mod_modfolderpath, #dboard_mod_preview_lauchprms
{
	font-size: 15px;
	font-weight: 100;
	color: #A1A1A1;
	user-select: none;
}




#dboard_mod_launchgame, #dboard_mod_killgame
{
	display: flex;
	flex-direction: row;
	width: 146px;
	height: 44px;
	background: #292929;
	border: 1px solid #484848;
	border-radius: 11px;
}

#dboard_mod_launchgame svg
{
	fill: #62D07A;
	transform: scaleX(-1);
}

#dboard_mod_killgame svg
{
	fill: #AC4B4B;
}

#dboard_mod_killgame
{
	margin-left: 15px;
}

.startnkill_btn_icon
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 35px;
	/*padding: 10px;*/
}

.startnkill_btn_icon svg
{
	width: 60%;
	height: 60%;
	object-position: center;
	object-fit: contain;
}

.startnkill_btn_title
{
	display: flex;
	flex-grow: 1;
	align-items: center;
	/*justify-content: center;*/
	/*width: 100%;*/
	user-select: none;
	text-align: center;
	padding-left: 5px;
}


.dboard_mod_prmrow_cbox_mark
{
	width: 17px;
	height: 17px;
	margin-left: 5px;
}

.dboard_mod_prmrow_cbox
{
	display: flex;
    flex-direction: row;
    flex-grow: 0;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.1);
    padding: 6px;
    border-radius: 5px;
    /*width: fit-content;*/
    user-select: none;
}


.dboard_mod_prmrow_textfield input
{
	all: unset;
	background: rgba(0, 0, 0, 0.45);
	color: white;
	font-family: 'Roboto';
	font-weight: 200;
	height: 24px;
	width: 90%;
	border-radius: 4px;
	padding: 2px 0px 2px 10px;
}
















































































