*
{
	padding: 0px;
	margin: 0px;
}

html
{
/*	width: 100%;
	height: 100%;*/
}

body
{
	background-color: rgba(1, 1, 2, 0.87);

	/*background-color: #232022;*/
	background-image: url('assets/bg_01b_tr.png');
	background-size: 200px;
	background-attachment: fixed;
	display: flex;
	flex-grow: 1;
	width: 100%;
	height: 100%;
}

h1
{
	color: white;
}
















/*
=====================================================================
---------------------------------------------------------------------
                               Skyboxer
---------------------------------------------------------------------
=====================================================================
*/

#skyboxer_app
{
	display: flex;
	flex-grow: 1;
	width: 100%;
	/*height: 100%;*/
	/*background: rgba(255, 255, 255, 0.5);*/
	justify-content: center;
}


#skyboxer_squares
{
	display: flex;
	/*width: 100%;*/
	flex-direction: column;
}

.skybox_square
{
	width: 150px;
	height: 150px;
	background: url('assets/sq_tmp.png');
	background-size: contain;
}

#skybox_sq_row_1, #skybox_sq_row_3
{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

#skybox_sq_row_2
{
	display: flex;
	flex-direction: row;
}
