
/*todo: also generate this automatically ?*/

/* fonts */
@import url('mods/main_app_core/fonts_link.css');

/* app core */
@import url('mods/main_app_core/base_style.css');

/* menus */
@import url('mods/main_app_core/simple_menus_style.css');

/* Checkboxes */
@import url('mods/main_app_core/checkboxes_style.css');

/* UILists */
@import url('mods/main_app_core/ui_lists_style.css');

/* Skyboxer */
@import url('mods/skyboxer/skyboxer_style.css');

/* Mod Maker */
@import url('mods/modmaker/modmaker_style.css');

/* Dashboard */
@import url('mods/dashboard/dashboard_style.css');

/* Gameinfo */
@import url('mods/game_config_gameinfo/gameinfo_style.css');
































